html {
    scroll-behavior: smooth;
}
.wrap {
    height: 100px;
    width: 100%;
    position: relative;
}
.menu {
    height: 100px;
    width: 100%;
    background: #50e5ff;
    position: fixed;
    /*position: relative;*/
    top: 0;
}
.up {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: fixed;
    bottom: 100px;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f55ef3;
}