@media screen and (max-width: 375px) {
    .wrapper {
        padding:3px;
    }

    .header-nav .nav-link {
        display: none;
    }
    .header-main__block {
        margin-top: 10px;
    }
    .header-main__block__logo img {
        width: 40px;
        height: 47px;
    }
    .header-main__block__logo__disc h4 {
        font-size: 14px;
        margin-top: 5px;
        line-height: 12px;
    }
    .header-main__block__logo__disc p {
        font-size: 10px;
    }
    .header-main__block__work-time__img {
        display: none;
    }
    .header-main__block__work-time__disc {
        display: none;
    }
    .header-main__block__find-us .fas {
        display: none;
    }
    .header-main__block__find-us p {
        display: none;
    }
    .header-main__block__call-us h4 {
        font-size: 14px;
        line-height: 16px;
        width: 110px;
        height: 16px;
        margin-bottom: 0;
    }
    .header-main__block__call-us p {
        font-size: 10px;
        line-height: 12px;
        width: 109px;
        height: 12px;

    }
    .header-main__block__wright-us p{
        font-size: 10px;
        line-height: 12px;
        width: 150px;
        height: 18px;
    }
    .header-main__block__wright-us {
        position: relative;
        bottom: -10px;
        right: 1px;
    }
    .header-main__block__call-us {
        width: 110px;
        height: 30px;
        position: relative;
        top: -20px;
        left: -110px;
    }

    .header-search {
        padding-top: 0;
        padding-bottom: 0;
    }
    .header-search__form .btn {
        visibility: hidden;
        position: absolute;
    }
    .header-search__form .btn-shot {
        width: 40px;
        height: 40px;
        background: #274195;
        border-radius: 6px;
        border: none;
    }
    .header-search__form .d-flex .btn-shot {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .header-search__form .form-control {
        width: 236px;
        height: 40px;
    }
    .header-search__form .d-flex .btn {
        width: 40px;
        height: 40px;
    }
    .header-search .row {
        display: none;
    }

    .body-top {
        flex-direction: column;
        overflow: hidden;
    }
    .body__carousel {
        width: 100%;
    }
    .body__cards {
        display: flex;
        column-gap: 5px;
        width: 170%;
    }
    .body__cards .card .row {
        height: 145px;
    }
    .body__cards .card-body {
        padding: 5px;
    }
    .body__cards h2 {
        font-size: 14px;
        line-height: 16px;
        margin-top: 15px;
        margin-left: 20px;
    }
    .body__cards .card-body .card-title {
        font-size: 14px;
        line-height: 18px;
    }
    .body__cards .card-body .card-text {
        font-size: 12px;
        line-height: 12px;
    }
    .body__cards .card-body .text-muted p {
        font-size: 14px;
        line-height: 14px;
    }
    .body__cards .card-body .text-muted img {
        width: 30px;
        height: 12px;
    }
    .body__cards .card-body .text-muted button {
        width: 32px;
        height: 32px;
        background: #005BB9;
        border-radius: 6px;
        border: none;
    }

    .body-groups {
        overflow: hidden;
    }
    .body-groups .card {
        width: 250px;
        height: 126px;
    }
    .body-groups .card-body {
        padding-bottom: 0;
    }
    .body-groups .card  h5 {
        font-size: 20px;
        line-height: 24px;
    }
    .body-groups .card  p {
        font-size: 9px;
        line-height: 11px;
        padding-bottom: 0;
    }
    .body-groups .card  .btn {
        width: 72px;
        height: 24px;
        font-size: 12px;
        padding: 0;
    }
    .body-groups .col-5 {
        height: 97px;
        width: 74px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .body-buttons {
        display: flex;

    }
    .body-buttons .btn {
        width: 164px;
        height: 36px;
        font-size: 11px;
    }
    .body-buttons .btn-shot {
        height: 36px;
        font-size: 11px;
    }


    .body-product-choice .card {
        width: 10rem!important;
    }
    .body-product .card-body h5 {
        font-size: 18px;
    }
    .body-product .card-body p {
        font-size: 12px;
    }
    .body-product .card-body .btn {
        font-size: 12px;
        width: 110px;
        height: 35px;

    }
    .body-product .card-body .btn .far {

    }

    .news .news-line {
        display: none;
    }
    .news .news-date img {
        display: none;
    }
    .news .news-block {
        display: block;
        margin-left: 10px;
    }
    .news h3 {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .news .news-column img {
        width: 58px;
        height: 16px;
        font-size: 10px;
    }
    .footer-main {
        display: block;
        margin-left: 10px;
        border-bottom: 2px solid #1D3044;
        padding-bottom: 20px;
    }
    .footer-column-contacts {
        display: block;
    }
    .footer-column-contacts ul {
        margin-bottom: 20px;
    }
    .footer-column-online {
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .footer-column .btn {
        width: 100px;
        font-size: 12px;
        color: white;
    }
    .footer-column .form-control {
        width: 250px;
    }

    .footer-column .soc-icons {
        justify-content: flex-start;
        font-size: 25px;
    }
    .footer-line {
        height: 1px;
    }
    .concern {
        font-size: 12px;
    }
}







