* {
    margin: 0;
    padding: 0;
}
.box-1 {
    height: 200px;
    width: 200px;
    background: #bf38bd;
    position: absolute;
    z-index: 2;
}
.box-2 {
    width: 300px;
    height: 300px;
    background: #75B021;
    position: absolute;
    z-index: 1;
}