* {
    margin: 0;
    padding: 0;
}
.father {
    position: relative;
    width: fit-content;
    border: 1px solid red;
    top: 100px;
    left: 200px;
}

.title {
    position: absolute;
    top: 120px;
    left: 40px;
}